In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/predictions/y_pred_beng_1.csv
/kaggle/input/predictions/y_pred_beng_2.csv
/kaggle/input/predictions/y_pred_hindi_1.csv

In [2]:
df_1 = pd.read_csv('/kaggle/input/predictions/y_pred_beng_1.csv')

print(df_1.head())

df_2 = pd.read_csv('/kaggle/input/predictions/y_pred_hindi_1.csv')

print(df_2.head())

   0
0  1
1  1
2  1
3  1
4  1
   0
0  1
1  3
2  3
3  1
4  1

In [3]:
df_1['0'] = df_1['0'].replace(1, 'sports')
df_1['0'] = df_1['0'].replace(6,'opinion')
df_1['0'] = df_1['0'].replace(3,'entertainment')
df_1['0'] = df_1['0'].replace(7,'education')

In [4]:
df_1['0'].value_counts()

sports           69
opinion          28
entertainment     2
education         1
Name: 0, dtype: int64

In [5]:
df_2['0'] = df_2['0'].replace(1, 'sports')
df_2['0'] = df_2['0'].replace(4,'economy')
df_2['0'] = df_2['0'].replace(3,'entertainment')
df_2['0'] = df_2['0'].replace(7,'education')
df_2['0'] = df_2['0'].replace(5,'life-style')

In [6]:
df_2['0'].value_counts()

sports           80
entertainment    16
economy           2
education         1
life-style        1
Name: 0, dtype: int64

In [7]:
df_2.head()

               0
0         sports
1  entertainment
2  entertainment
3         sports
4         sports

In [8]:
# Assuming your DataFrames are named 'df1' and 'df2', and the columns you want to compare are named 'column1' and 'column2' respectively
column1_values = df_1['0'].values
column2_values = df_2['0'].values

# Compare the two columns element-wise
comparison_array = np.equal(column1_values, column2_values)

# Get the values from column1 where the comparison is True
similar_values = column1_values[comparison_array]

# Count the frequency of each unique value
value_counts = pd.Series(similar_values).value_counts()
print(value_counts)

# Count the number of similar rows
num_similar_rows = np.count_nonzero(comparison_array)

# num_similar_rows contains the exact number of rows that are similar between the two columns
print(num_similar_rows)

sports           61
entertainment     2
dtype: int64
63